/*General page styles*/
body {
	margin: 0;
}

html {
	font-family: 'Helvetica neue', Arial, 'sans serif';
	font-size: 10px;
	background-color: #ccc;
}

/*Card container styles*/
.card {
	width: 35em;
	height: 22em;
	margin: 5em auto;
	background-color: red;
	border: 0.2em solid black;
	border-radius: 1.5em;
}

/*Header and footer styles*/
.card footer {
	background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.1));
	border-radius: 0 0 1.5em 1.5em; 
}

.card header {
	background-image: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0));
	border-radius: 1.5em 1.5em 0 0;
}

.card header, .card footer {
	height:3em;
	padding: 1em;
}

/*Main business card contents styles*/
.card article img {
	max-height: 100%;
	float: right;
}

.card h2, .card p {
	margin: 0;
}

.card h2 {
	font-size: 2em;
	line-height: 1.5em;
}

.card footer p {
	font-size: 1.5em;
	line-height: 2em;
}

.card article {
	height: 12em;
	background: rgba(0,0,0,0.2);
}

.card article p {
	padding: 1em;
	color: lightgrey;
}